.nav{
    height: 60px;
    background: #E5E8E8 ;
    border: 1px solid #CCD1D1 ;
}
.nav a{
    margin: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
li img{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    margin-left: -650px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
span{
    color: red;
}
.btn{
    background: ghostwhite;
    color: black;
}
.col-auto button{
    background: red;
    color: white;
}
.card-body span{
    color: rgb(214, 0, 0);
    font-weight: bold;

}
.fab{
    font-size: 40px;
    padding: 10px;
    color: white;
}
.col-4{
    margin: 5px 0;
    color: white;
}
.line{
    border-bottom: 1px solid rgb(179, 174, 174);
    width: 100%;
}
h6{
    color: white;
    padding: 10px;
    margin: auto;
}
